<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clon X</title>
</head>
<body>
    <div class="layaut-wrapper">

        <header>
            <div class="logo">
    
            </div>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Trendings</a></li>
                    <li><a href="">Notification</a></li>
                    <li><a href="">Message direct</a></li>
                    <li><a href="">Profile</a></li>
                </ul>
            </nav>
            <div class="container-post">
                <button class="post"></button>
            </div>
            <div class="avatar-profile">
    
            </div>
        </header>
        <main>
            <div class="publications-bar">
                <div class="tittle-publications">
                    <h1>Inicio</h1>
                    <i>Logo</i>
                </div>
                <div class="options-publications">
                    <button id="foryou">Para ti</button>
                    <button id="following" >Siguiendo</button>
                </div>
            </div>
            <form action="" method="get">
                <p class="field-post">
                    <label for="post-text">Escribir post</label>
                    <textarea name="text-post" id="text-post" placeholder="¿Qué está pasando?"></textarea>
                </p>
                <div class="icons-action">
                    <label for="image"></label>
                    <input type="file" id="image">
                    <button aria-label="gifts" class="gifts"></button>
                    <button aria-label="list" class="list"></button>
                    <button aria-label="emoji" class="emoji"></button>
                    <button type="submit">Postear</button>
                </div>
            </form>
            <section class="posts">
                <article class="post">
                    <div class="profile-time">
                        <img src="" alt="">
                        <h3>Sarah Dev</h3>
                        <small>@sarahcodes</small>
                        <small>2h</small>
                    </div>
                    <div class="content-post">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, adipisci!</p>
                        <img src="" alt="">
                    </div>
                    <div class="interactions">
                        <div class="comment">
                            <i></i>
                            <p>24</p>
                        </div>
                        <div class="retweet">
                            <i></i>
                            <p>5</p>
                        </div>
                        <div class="like">
                            <i></i>
                            <p>142</p>
                        </div>
                        <div class="views">
                            <i></i>
                            <p>1,2k</p>
                        </div>
                    </div>
                </article>
            </section>
        </main>
        <aside>
            <div class="searcher">
                <input type="search" placeholder="Buscar">
            </div>
            <div class="trendings-panel">
                <h1>Tendencias para ti</h1>
                <section>
                    <article>
                        <small>Tegnología - Tendencia</small>
                    </article>
                </section>
                <button id="viewmore">Mostrar más</button>
            </div>
            <div class="whoto-follow">
                <h1>A quién seguir</h1>
                <section>
                    <article>
                        <img src="" alt="">
                        <p>Tech Giant</p>
                        <small>@techgiant</small>
                        <button class="follow-button">Seguir</button>
                    </article>
                </section>
            </div>
            <footer>
                <small>Términos - Privacidad - Coockies - &copy; 2025 X</small>
            </footer>
        </aside>
    </div>
</body>
</html>